version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1.1

commands:
  run-tox:
    description: "Run tox"
    parameters:
      version:
        type: string
      sphinx-version:
        type: string
        default: "1,2,3,4,5,6,latest"
    steps:
      - browser-tools/install-browser-tools
      - checkout
      # Upgrade tox once https://github.com/tox-dev/tox/issues/2850 is solved.
      - run: pip install --user 'tox<4'
      - run:
          name: Test with Chrome driver
          command: tox -e "<<parameters.version>>-sphinx{<<parameters.sphinx-version>>}" -- --driver Chrome
      - run:
          name: Test with Firefox driver
          command: tox -e "<<parameters.version>>-sphinx{<<parameters.sphinx-version>>}" -- --driver Firefox

jobs:
  py37:
    docker:
      - image: 'cimg/python:3.7-browsers'
    steps:
      - run-tox:
          version: py37
  py38:
    docker:
      - image: 'cimg/python:3.8-browsers'
    steps:
      - run-tox:
          version: py38
  py39:
    docker:
      - image: 'cimg/python:3.9-browsers'
    steps:
      - run-tox:
          version: py39
  py310:
    docker:
      - image: 'cimg/python:3.10-browsers'
    steps:
      - run-tox:
          version: py310
          sphinx-version: 4,5,6,latest
  py311:
    docker:
      - image: 'cimg/python:3.11-browsers'
    steps:
      - run-tox:
          version: py311
          sphinx-version: 4,5,6,latest

workflows:
  version: 2
  tests:
    jobs:
      - py311
      - py310
      - py39
      - py38
      - py37
